.app__specialMenu {
    flex-direction: column;
    background: var(--color-black);

}

.app__specialMenu-title {
    margin-bottom: 2.2rem;
    text-align: center;
}

.app__specialMenu-menu {
    width: 100%;
    margin: 2.2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

}

.app__specialMenu-menu_heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 0.05em;
    line-height: 60.3px;
    color: var(--color-white);
}

.app__specialMenu-menu_wines,.app__specialMenu-menu_cocktails {
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.app__specialMenu-menu_img {
    width: 426px;
    margin: 0 2.2rem;
}

.app__specialMenu-menu_img img {
    width: 100%;
    height: auto;
}

.app__specialMenu-menu_itmes {
    display: flex;
    flex-direction: column;
    margin: 2.3rem 0;
    width: 100%;
}

@media screen  and (max-width: 2000px) {
    .app__specialMenu-menu_img {
        width: 665px;
    }

    .app__specialMenu-menu_img img {
        height: 925px;
    }
}

@media screen  and (max-width: 1150px) {
    .app__specialMenu-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .app__specialMenu-menu_img {
        margin: 3.3rem 0;
    }
}

@media screen  and (max-width: 650px) {
    .app__specialMenu-menu_img{
        width: 100%;
        height: 100%;
    }

    .app__specialMenu-menu_img img {
        height: 636px;
    }

    .app__specialMenu-menu_heading {
        font-size: 40px;
        line-height: 50.4px;
    }
}

@media screen and (max-width: 380px) {
    .app__specialMenu-menu_img img {
        height: 534px;
    }
}