@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Josefin+Sans:wght@500&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Josefin+Sans:wght@500&family=Kalam:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Inter:wght@600&family=Josefin+Sans:wght@500&family=Kalam:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,600&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  --font-poppins:  'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-jasefin: 'Josefin Sans', sans-serif;
  --font-kalam: 'Kalam', cursive;
  --font-coveat: 'Caveat', cursive;
  
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
  --color-dark: #081b29;
  --color-clean: #73cbf0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
